# Logs
logs
*.log

# Dependency directories
node_modules/

# Build output
dist/

# Environment variables
.env
.env.develop

# IDE files
.vscode/
.idea/

# Compiled TypeScript files

# TypeScript declaration files
*.d.ts

# macOS
.DS_Store

# Windows
Thumbs.db
